.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(51, 51, 51, 0.9);
  box-shadow: 0 1px 12px 2px rgba(0, 0, 0, 0.5);
  color: white;
}

.logoContainer {
  display: inline-flex;
  align-items: center;
}

.logoContainer spam{
  margin-left: 0.2rem;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: lighter;
}

.logo {
  width: 100px;
  height: auto;
}


.searchContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.searchInput {
  padding: 0.4rem;
  width: 14rem;
  border: none;
  border-radius: 5px;
  color: black;
}

.searchButton {
  background-color: rgb(119, 119, 190);
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 1rem;
  padding: 0.45rem 1rem;
  cursor: pointer;
}

.searchButton:hover{
  background-color: rgb(221, 221, 255);
  color: rgb(73, 73, 121);
  transition: 0.5s;
}


@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem 0.5rem; 
  }

  .logoContainer
  {
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
  }

}
